* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: sticky;
    z-index: 10;
    top: 0;
}

main {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    flex-direction: column;
    color: white;
    margin: auto;
    max-width: 1920px;
    min-width: 320px;
}

.pictures {
    background-image: url(IMG/apartamento-de-luxo-itaim-bibi-1000x600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    background-image: url(IMG/0617_DEVSet_Banner_Site_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 50px;
    max-width: 1920px;
    min-width: 320px;
}

.form {
    color: rgb(19, 88, 134);
    padding: 50px;
    text-align: center;
    width: 100%;
    background-color: rgb(22, 22, 24);
}

.form-input {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 15px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    padding-bottom: 40px;
    width: 100%;
    max-width: 800px;
    min-width: 320px;
}

.cards-body {
    width: 25rem;
    height: 40rem;
    background-color: rgb(22, 22, 24);
    border-radius: 12px;
}

.caption {
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 5px;
    width: 45%;
    border-top: 7px solid rgb(19, 88, 134);
}

.caption h2 {
    color: rgb(19, 88, 134);
    font-weight: bold;
}

.btn-carousel {
    border: 5px solid rgb(10, 10, 12);
    border-radius: 80px;
    padding: 25px;
}

@media all and (max-width: 1000px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .cards-body {
        width: 22rem;
        height: 37rem;
        background-color: rgb(22, 22, 24);
        border-radius: 12px;
    }
}

@media all and (max-width: 800px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .cards-body {
        width: 20rem;
        height: 35rem;
        background-color: rgb(22, 22, 24);
        border-radius: 12px;
    }
}

@media all and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .cards-body {
        width: 15rem;
        height: 30rem;
        background-color: rgb(22, 22, 24);
        border-radius: 12px;
    }
}