* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #242428;
}

main {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    flex-direction: column;
    color: white;
    margin: auto;
    max-width: 1920px;
    min-width: 320px;
}

.pictures {
    background-image: url(../IMG/apartamento-de-luxo-itaim-bibi-1000x600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    background-image: url(../IMG/0617_DEVSet_Banner_Site_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 50px;
    max-width: 1920px;
    min-width: 320px;
}

.form {
    color: rgb(19, 88, 134);
    padding: 50px;
    text-align: center;
    width: 100%;
    background-color: rgb(22, 22, 24);
    height: 40vh;
}

.form-input {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 15px;
}

.section-cards {
    height: 55rem;
    width: 100%;
}

.cards {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-bottom: 40px;
    width: 100%;
    max-width: 800px;
    min-width: 320px;
    margin: 0 !important;
    padding:  0 !important; */
    display: flex;
    height: 100%;
    align-items: stretch;
}

.cards-body {
    width: 100%;
    background-color: rgb(22, 22, 24);
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-body p{
    color: #ebebeb;
}

.caption {
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.712);
    width: 45%;
    border-top: 5px solid #29c6ed;
}

.caption h2 {
    color: #29c6ed;
    font-weight: 300;
}

.btn-carousel {
    border: 5px solid rgb(10, 10, 12);
    border-radius: 80px;
    padding: 25px;
}

.icons-apt {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}

.icons-apt img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.card-about {
    text-align: center !important;
    height: max-content !important;
    width: 25rem !important;
    height: max-content !important;
    position: absolute !important;
    right: 12% !important;
    background-color: rgba(10, 10, 12, 0.911) !important;
    border-top: 5px solid #29c6ed !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;

}
#img-about{
    width: 50% !important;
}

body::-webkit-scrollbar-thumb{
    background-color: #29c6ed;
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background-color: #242428;
}
body::-webkit-scrollbar{
    width: 5px;
}
#menu-nav::-webkit-scrollbar-thumb, #menu-nav::-webkit-scrollbar, #menu-nav::-webkit-scrollbar-track{
    display: none;
}


@media all and (max-width: 1000px) {
    .container {
        justify-content: center;
    }
    .card-about{
        height: 90% !important;
    }
    #img-about{
        max-width: 25% !important;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        flex-direction: column;
    }

    .cards-body {
        width: 100%;
        height: max-content;
        background-color: rgb(22, 22, 24);
        border-radius: 12px;
    }

    .section-cards {
        height: 145rem;
    }

}

@media all and (max-width: 800px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        justify-content: center;
        justify-items: center;
        width: 100%;
    }
    .card-about{
        height: 90% !important;
    }
    #img-about{
        max-width: 25% !important;
    }
    .card-about p{
        text-align: center !important;
    }

    .cards-body {
        width: 100%;
        background-color: rgb(22, 22, 24);
        border-radius: 12px;
        height: max-content;
    }

    .form {
        display: none;
    }
    #logo{
        text-align: center;
    }

    .section-cards {
        height: 130rem;
    }
}

@media all and (max-width: 600px) {

    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        width: 100%;
    }
    .about{
        background-position: center;
    }
    .card-about{
        height: 90% !important;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        margin: 2% auto !important;
        background-color: rgba(0, 0, 0, 0.521)!important;
        border-radius: 0 !important;
    }
    #img-about{
        max-width: 25% !important;
    }
    .card-about p{
        text-align: center !important;
    }

    .cards-body {
        width: 100%;
        background-color: rgb(22, 22, 24);
        border-radius: 12px;
        height: max-content;
    }

    .form {
        display: none;
    }
    #logo{
        text-align: center;
    }

    .section-cards {
        height: 130rem;
    }

}
/*Menu do kauanty*/

#btn {
    display: none;
}

    /* Fim da header */


    /* Responsividade */
@media (max-width: 600px) {
    #menu-nav {
        display: block;
        position: absolute;
        width: 100%;
        top: 130px;
        right: 0;
        height: 0;
        background: #242428;
        transition: .4s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu-nav {
        height: 50vh;
        width: 100%;
        visibility: visible;
        overflow-y: auto;
    }

    #menu-nav a {
        padding: 1rem 0;
        margin: 20px 1rem;
        text-align: center;
        font-size: 1rem;
        border-bottom: 2px solid #29c6ed;
        padding: 20px;
    }

    #btn {
        transition: 0.2s;
        padding: 13px;
        background-color: transparent;
        background-image: url(../imgs/icons/menu.png);
        background-size: cover;
        border: none;
        cursor: pointer;
        display: block;
        padding: 20px;
        position: absolute;
        top: 15%;
        right: 2%;
        }

    #btn.alt {
        transition: 0.1s;
        background-image: url(../imgs/icons/close.png);
        background-color: transparent;
    }

}