@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat';
}

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #1e1e20;
}

body {
    padding: 0;
    margin: 0;
}

.container1 {
    background-color: #303030;
    transition: .4s;
}

#resumoImoveis {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 30px;
    padding: 2%;
    background-color: #252525;
}

#titleImoveis {
    letter-spacing: 2px;
    color: #29c6ed;
    font-weight: 100;
}

.containerImoveis {
    padding: 2.5%;
    background-color: #303030;
}

.imoveis {
    background-color: #4e4e4e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2%;
    grid-gap: 2% 2%;
    padding-bottom: 5%;
}

.blocosGrid {
    width: 100%;
    height: max-content;
}

.img-div {
    position: relative;
}

.imgApartamento {
    width: 100%;
    height: 270px;
}

.title-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #252525cc;
    padding: 2%;
}

.title-apt {
    margin: 0;
    padding: 0;
    color: #29c6ed;
    font-weight: normal;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
}

.descricaoApartamento {
    height: 50px;
    display: flex;
}

.button-apt {
    background-color: transparent;
    border: none;
    color: #BBBBBB;
    cursor: pointer;
    background-color: #303030e5;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-apt:hover {
    background-color: #5a5a5a;
    color: #BBBBBB;
    transition: .3s;
}

body::-webkit-scrollbar-thumb{
    background-color: #29c6ed;
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background-color: #242428;
}
body::-webkit-scrollbar{
    width: 5px;
}
#menu-nav::-webkit-scrollbar-thumb, #menu-nav::-webkit-scrollbar, #menu-nav::-webkit-scrollbar-track{
    display: none;
}

@media all and (max-width: 1000px) {
    .imoveis {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 10%;
    }
}

@media all and (max-width: 850px) {
    .imoveis {
        padding-bottom: 12%;
    }
}

@media all and (max-width: 700px) {
    .imoveis {
        padding-bottom: 14%;
    }
}

@media all and (max-width: 600px) {
    #resumoImoveis {
        height: 30vh;
    }

    .imoveis {
        grid-template-columns: 90%;
        justify-content: center;
        grid-gap: 0 0;
        padding: 0;
    }

    .blocosGrid {
        margin-bottom: 5%;
    }

    .blocosGrid:first-child {
        margin-top: 5%;
    }
    #logo{
        text-align: center;
    }
}
#btn {
    display: none;
}

    /* Responsividade */
@media (max-width: 600px) {
    #menu-nav {
        display: block;
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        height: 0;
        background: #242428;
        transition: .4s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu-nav {
        height: 50vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu-nav a {
        padding: 1rem 0;
        margin: 20px 1rem;
        text-align: center;
        font-size: 1rem;
        border-bottom: 2px solid rgb(19, 88, 134);
        padding: 20px;
    }

    #btn {
        transition: 0.2s;
        padding: 13px;
        background-color: transparent;
        background-image: url(../imgs/icons/menu.png);
        background-size: cover;
        border: none;
        cursor: pointer;
        display: block;
        padding: 20px;
        position: absolute;
        top: 15%;
        right: 2%;
    }

    #btn.alt {
        transition: 0.1s;
        background-image: url(../imgs/icons/close.png);
        background-color: transparent;
    }

}