
/* Só colar isso no css da página que vc estiver */

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #242428;
}
#btn {
    display: none;
}

    /* Fim da header */


    /* Responsividade */
@media (max-width: 600px) {
    #menu-nav {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        height: 0;
        background: #242428;
        transition: .4s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu-nav {
        height: 50vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu-nav a {
        padding: 1rem 0;
        margin: 20px 1rem;
        text-align: center;
        font-size: 1rem;
        border-bottom: 2px solid rgb(19, 88, 134);
        padding: 20px;
    }

    #btn {
        transition: 0.2s;
        padding: 13px;
        background-color: transparent;
        background-image: url(../imgs/icons/menu.png);
        background-size: cover;
        border: none;
        cursor: pointer;
        display: block;
        padding: 20px;
    }

    #btn.alt {
        transition: 0.1s;
        background-image: url(../imgs/icons/close.png);
        background-color: transparent;
    }

}